.header {
  position: fixed;
  z-index: 1000;
  top: 0;
  left: 0;
  width: 100%;
  height: 60px;
  padding: 10px 50px;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #000;
}

.header > h2 > a {
  text-decoration: none;
  color: #fff;
}

.user-infor > .user-infor-btn {
  padding: 5px;
  display: flex;
  align-items: center;
  border-radius: 5px;
}

.user-infor > .user-infor-btn > img {
  width: 35px;
  height: 35px;
  border-radius: 50%;
}

.header > .sign-in-btn {
  transition: all ease 1s;
}

.header > .sign-in-btn:hover {
  cursor: pointer;
  text-decoration: underline;
}

.user-infor {
  position: relative;
}

.user-infor:hover > .user-infor-menu {
  display: block;
}

.user-infor > .user-infor-menu {
  display: none;
  position: absolute;
  padding: 10px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  background-color: #202020;
  border-radius: 6px;
  right: 0;
  top: 40px;
  color: #d3c9c9;
}

.user-infor > .user-infor-menu > p {
  margin-bottom: 10px;
}

.user-infor > .user-infor-menu > a {
  color: #d3c9c9;
  display: inline-block;
  width: 100%;
  border-top: 1px #a1a0a0 solid;
  padding-top: 8px;
}

.header > #login-form-wrapper {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
}

.display {
  display: block !important;
}

#login-form-wrapper > .close {
  position: absolute;
  right: 395px;
  top: 115px;
  z-index: 1000;
}

#login-form-wrapper > .close:hover {
  cursor: pointer;
}
