<div class="product-details-wrapper">
  <h1>Gray Sweater</h1>
  <div class="product-details">
    <img src="assets/images/sweater.jpg" alt="product-image" />
    <div class="product-info">
      <div class="product-info-detail">
        <b>Description:</b
        ><span
          >The sweater has a length that covers the buttocks, loose sleeves,
          comfortable shape, and is cool to wear.</span
        >
      </div>
      <div class="product-info-detail"><b>Size:</b><span>2/3/4</span></div>
      <div class="product-info-detail">
        <b>Features:</b
        ><span
          >Thick but airy felt fabric. Oversize shirt form suitable for all
          genders. Versatile as it can be both an outer layer when driving or an
          everyday outfit. The collar and sleeves fit snugly, not too tight or
          too loose, helping to Your outfits look more luxurious, won't stretch
          after many washes. Hand-painted graphic of a cute and unique blue
          dragon wearing a fire-breathing crown. Combined with the stylized
          Levents logo below. Graphics are used with high-end silk-screen
          printing techniques, increasing graphic durability and color
          durability after long periods of use.</span
        >
      </div>
      <div class="product-info-detail">
        <b>Product structure:</b><span>High-quality crab leg felt.</span>
      </div>
    </div>
  </div>
</div>
