.product-details-wrapper {
  font-size: 16px;
  width: 100%;
  height: 100vh;
  padding: 0 10%;
  margin-top: 50px;
  text-align: center;
}

.product-details-wrapper > h1 {
  margin-bottom: 20px;
}

.product-details-wrapper > iframe {
  border-radius: 10px;
}

.product-info-detail {
  margin: 20px auto 0px;
  list-style-type: none;
  font-size: 18px;
  width: fit-content;
}

.product-info-detail > li {
  margin-bottom: 10px;
  /* -webkit-text-stroke: 0.5px #000; */
  color: #686D76
}