<div class="product-details-wrapper">
  <h1>Our Sweater</h1>
  <iframe
    width="650"
    height="480"
    src="https://www.youtube.com/embed/dGx0qllIvJc"
    title="American Eagle Sweater Review!"
    frameborder="0"
    allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
    referrerpolicy="strict-origin-when-cross-origin"
    allowfullscreen
  ></iframe>
  <ul class="product-info-detail">
    <li>
      <b
        >Versatile as it can be both an outer layer when driving or an everyday
        outfit</b
      >
    </li>
    <li><b>Thick but airy felt fabric</b></li>
    <li><b>Oversize shirt form suitable for all genders</b></li>
  </ul>
</div>
