<div class="discount">
  <div class="discount-img">
    <img src="assets/images/discount.jpg" alt="discount" />
    <div class="discount-text">SALE OFF 10% <br />FOR NEW CUSTOMER</div>
  </div>

  <h1 class="title">Discount</h1>

  <div class="discount-options">
    <div class="discount-option">
      <img src="assets/images/sweater1.jpg" alt="sweater1" />
      <div class="description text-right">
        Get more <span>5%</span> discount by following our fan page!
      </div>
    </div>
    <div class="discount-option">
      <div class="description text-left">
        And more <span>5%</span> by subcribing our youtube channel!
      </div>
      <img src="assets/images/sweater2.jpg" alt="sweater2" />
    </div>
  </div>
</div>
